<div class="container">
  <div class="row">
    <div class="absolute-center is-responsive">
      <div class="panel panel-default">
        <div class="panel-heading">New Registration</div>
        <div class="panel-body">
          REGISTRATION FORM
          <button class="btn btn-success" type="submit">button</button>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
