<section class="content-header" >
  <ol class="breadcrumb">
  {{#link-to "company.transactions" tagName="li"}}
    <a href="#"><i class="fa fa-dashboard"></i>{{t 'product.transactions.breadcrumbs.home'}}</a>
  {{/link-to}}


  {{#if showPurchaseBillsBreadcrumbs}}
    {{#link-to "company.transactions.purchase-bills" tagName="li"}}
      <a href="#">{{t 'product.transactions.breadcrumbs.purchase_transactions'}}</a>
    {{/link-to}}
  {{/if}}
  </ol>
</section>
{{outlet}}
