{{#link-to "company.projects.project.stages.stage.edit" class="pull-right"}}
  <a href={{view.href}} class="text-muted"><i class="fa fa-pencil"></i></a>
{{/link-to}}
Stage Name: {{projectStage.name}}
