{{#link-to 'company.transactions.new'}}
<button class="btn btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  {{t 'product.transactions.new_transaction'}}
</button>
{{/link-to}}
<div class="box" style="margin-top: 5px">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'fields.description'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each purchaseTransactions as |purchaseTransaction|}}
          <tr><td>{{purchaseTransaction.description}}</td></tr>
          <!-- {{#link-to 'company.transactions.transaction' purchaseTransaction.id tagName="tr"}}
              <td>{{project.name}}</td>
          {{/link-to}} -->
        {{/each}}
    </tbody>
  </table>
  </div>
</div>
