
<!-- <h2>{{t 'product.projects.new_project'}}<small></small></h2> -->
<h2>New Stage<small></small></h2>
{{project-stage-form
  onCancelClicked="canceled"
  onSaveClicked="added"
  projectStage=projectStage }}
